.sidebar-link {
  display: flex;
  width: 100%;
  padding: 8px 24px;
  margin-top: 10px;
  gap: 28px;
  justify-content: start;
  align-items: center;
}
.Side-bar-Link {
  border-left: 8px solid #3ad3cd;
  background: rgba(58, 211, 205, 0.4);
}
.horizontal-line{
    margin-top: -10px;
    height: 1px;
    background: linear-gradient(90deg, #0A3442 0%, #FFF 48.95%, #0A3442 100%);
}