.Banner {
  background-color: rgba(58, 211, 205, 0.4);
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 5.63rem;
}
.banner-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.banner-Upper-items {
  display: block;
  gap: 10px;
  text-align: start;
}
.banner-Upper-items .num {
  color: #104455;
  text-align: start;
  font-family: sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.375rem;
}
.Banner-title{
    /* color: var(--Rich-Black-500, #585D69); */
color:  #3e3e3e;
font-size: 1rem;
font-style: normal;
font-weight: bold;
line-height: 1.5rem;
}
.banner-inner >img{
    /* background-color: #104455; */
    height: 60px;
    width: 60px;

}
