.container-provide-upper{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.provide-buttons{
    display: flex;
    gap: 20px;
}
.container-provide-bottom{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    scrollbar-width:  none; /* Firefox */
    gap: 100px;
}
.course_card{
    height: 500px;
    width: 400px;
    border: 2px solid gray;
    border-radius: 20px;
}